@using Ray.Blog.Comments
@using Volo.Abp.Application.Dtos

@inherits BlogComponentBase

<ListGroup Flush>
    @{
        foreach (var item in CommentList)
        {
            <ListGroupItem>
                <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
                    <Paragraph Margin="Margin.Is1.FromStart">@item.Text</Paragraph>
                </Div>
                <Div>
                    <Small>@item.CreatorId</Small>
                </Div>
            </ListGroupItem>
        }
    }
</ListGroup>

@code {
    [Inject]
    ICommentsAppService CommentsAppService { get; set; }

    private List<CommentDto> CommentList { get; set; } = new List<CommentDto>();

    private int PageSize { get; } = 5;
    private string CurrentSorting { get; set; } = $"{nameof(CommentDto.CreationTime)} desc";

    protected override async Task OnInitializedAsync()
    {
        await GetCommentsAsync();
        await base.OnInitializedAsync();
    }

    private async Task GetCommentsAsync()
    {
        var result = await CommentsAppService.GetListAsync(
            new GetCommentListDto
                {
                    MaxResultCount = PageSize,
                    SkipCount = 0,
                    Sorting = CurrentSorting,
                }
        );

        CommentList = result.Items.ToList();
    }
}
