@using Ray.Blog.Posts
@using Volo.Abp.Application.Dtos
@using Volo.Abp.Users

@inherits BlogComponentBase

<Button Margin="Margin.Is2" 
        Size="Size.Small"
        Active="@ButtonActive"
        onclick="@OnThumbUpClicked">
    <Icon Name="IconName.ThumbsUp" TextColor="@ThumbColor" /> @CountStr
</Button>