@inherits BlogComponentBase

@using Ray.Blog.Comments
@using Blazorise.Markdown

<Container>

    <Divider DividerType="DividerType.TextContent" Text="评论列表" />

    <DataGrid TItem="CommentDto"
              Data="CommentList"
              ReadData="OnDataGridReadAsync"
              TotalItems="TotalCount"
              ShowPager="true"
              PageSize="PageSize" Borderless="true">
        <DetailRowTemplate>
            <Alert Visible="true">@context.Text</Alert>
            <Divider DividerType="DividerType.Dotted" />
        </DetailRowTemplate>
    </DataGrid>

    <Markdown @bind-Value="NewComment.Text" Height="Height.Is25" Width="Width.Is50"></Markdown>
    <Button Color="Color.Primary" Clicked="OnAddCommentButtonClickedAsync">发送</Button>
    <NotificationAlert />
</Container>

@code {

}
