@inherits BlogComponentBase

@using Ray.Blog.Comments
@using Blazorise.Markdown

<Div>
    <Heading Size="HeadingSize.Is5">@(TotalCount)条评论</Heading>

    <Blazorise.Divider DividerType="DividerType.TextContent" Text="评论列表" />

    <ListGroup Flush>
        @{
            for (int i = 0; i < this.CommentList.Count; i++)
            {
                var item = this.CommentList[i];
                var num=(i+1).ToString();
                <ListGroupItem>
                    <Div>
                        <Text TextColor="TextColor.Primary">#@(num)楼</Text>
                        <Text TextColor="TextColor.Secondary">@item.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</Text>
                        <Text Margin="Margin.Is1.FromBottom" TextColor="TextColor.Primary">Zai7Lou</Text>
                        <Div TextAlignment="TextAlignment.End">
                            <Blazorise.Link To="">回复</Blazorise.Link>
                            <Blazorise.Link To="">引用</Blazorise.Link>
                        </Div>
                    </Div>
                    <Blazorise.Paragraph Margin="Margin.Is1.FromBottom">@item.Text</Blazorise.Paragraph>
                    <Div TextAlignment="TextAlignment.End">
                        <CommentThumbUp Comment="@item"></CommentThumbUp>
                    </Div>
                </ListGroupItem>
            }
        }
    </ListGroup>

    <Div Margin="Margin.Is5.FromTop">
        <Markdown @bind-Value="this.NewComment.Text" Height="Height.Is25" Width="Width.Is50"></Markdown>
        <Blazorise.Button Color="Blazorise.Color.Primary" Clicked="OnAddCommentButtonClickedAsync">发送</Blazorise.Button>
    </Div>
</Div>
