@inherits BlogComponentBase

@using Ray.Blog.Comments
@using Blazorise.Markdown

<Container>

    <Divider DividerType="DividerType.TextContent" Text="评论列表" />

    <DataGrid TItem="CommentDto"
              Data="CommentList"
              ReadData="OnDataGridReadAsync"
              TotalItems="TotalCount"
              ShowPager="true"
              PageSize="PageSize"
              Borderless="true">
        <DetailRowTemplate>
            <Row Background="Background.White">
                <Column ColumnSize="ColumnSize.Is1">
                    这是头像
                </Column>
                <Column ColumnSize="ColumnSize.Is11">
                    <Row>
                        <Column>
                            <Text Color="TextColor.Warning">这是用户名</Text>
                            <Text TextColor="TextColor.Secondary" Italic="true" Margin="Margin.Is3">2021/8/15 11:03</Text>
                        </Column>
                    </Row>
                    <Row>
                        <Alert Visible="true">@context.Text</Alert>
                    </Row>
                    <Row>
                        <Column Float="Float.Right" TextAlignment="TextAlignment.Right">这是点赞数</Column>
                    </Row>
                </Column>
            </Row>
        </DetailRowTemplate>
    </DataGrid>

    <Markdown @bind-Value="NewComment.Text" Height="Height.Is25" Width="Width.Is50"></Markdown>
    <Button Color="Color.Primary" Clicked="OnAddCommentButtonClickedAsync">发送</Button>
</Container>

@code {

}
