@page "/posts"
@using Ray.Blog.Posts

@inherits BlogComponentBase

<DataGrid TItem="PostDto"
          Data="PostList"
          ReadData="OnDataGridReadAsync"
          TotalItems="TotalCount"
          ShowPager="true"
          PageSize="PageSize">
    <DetailRowTemplate>

        <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
            <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom">
                <Blazorise.Link To="@("/posts/"+context.Id.ToString())" Title="test">@context.Title</Blazorise.Link>
            </Heading>
            <Small>@context.CreationTime</Small>
        </Div>
        <Small>这是简介</Small>
        <Paragraph Margin="Margin.Is1.FromBottom">
            @foreach (var tag in context.Tags)
                    {
            <Badge Color="Color.Primary">@tag.Name</Badge>
            }
        </Paragraph>

    </DetailRowTemplate>
</DataGrid>


@code {
}
