@page "/posts/{Id:guid}"

@inherits BlogComponentBase

<Jumbotron Background="Background.Transparent" Margin="Margin.Is4.FromBottom">
    <JumbotronTitle Size="JumbotronTitleSize.Is4" TextAlignment="TextAlignment.Center">@PostDto.Title</JumbotronTitle>
    <JumbotronSubtitle></JumbotronSubtitle>
    <Divider></Divider>
    <Paragraph>
        @((MarkupString)_markdownHtml)
    </Paragraph>
</Jumbotron>

<Div TextAlignment="TextAlignment.Center">
    <PostThumbUp Post="@PostDto" />
</Div>

<Div>
    <Comments PostId="@Id"></Comments>
</Div>
