@page "/Test"

@using Volo.Abp.MultiTenancy

@inherits BlogComponentBase

@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider

<Container>

    <Divider DividerType="DividerType.TextContent" Text="Components:" />

    <CardDeck>

        <Card>
            <Button Type="ButtonType.Link" To="/test/Components/Accordion">Accordion</Button>
        </Card>

        <Card>
            <Button Type="ButtonType.Link" To="/test/Components/Grid">Grid</Button>
        </Card>

        <Card>
            <Button Type="ButtonType.Link" To="/test/Components/ListGroup">List Group</Button>
        </Card>

        <Card>
            <Button Type="ButtonType.Link" To="/test/Components/Rating">Rating</Button>
        </Card>

        <Card>
            <Button Type="ButtonType.Link" To="/test/Components/Step">Step</Button>
        </Card>

        <Card>
            <Button Type="ButtonType.Link" To="/test/Components/Repeater">Repeater</Button>
        </Card>

    </CardDeck>

    <Divider DividerType="DividerType.TextContent" Text="Extensions:" />

    <CardDeck>
        <Card>
            <Button Type="ButtonType.Link" To="/test/Extensions/Autocomplete">Autocomplete</Button>
        </Card>

        <Card>
            <Button Type="ButtonType.Link" To="/test/Components/TreeView">TreeView</Button>
        </Card>
    </CardDeck>

    <Divider DividerType="DividerType.TextContent" Text="Services:" />

    <CardDeck>
        <Card>
            <Button Type="ButtonType.Link" To="/test/Services/Message">Message</Button>
        </Card>

        <Card>
            <Button Type="ButtonType.Link" To="/test/Services/Notification">Notification</Button>
        </Card>
    </CardDeck>

    <Divider DividerType="DividerType.TextContent" Text="Abp:" />


    <CardDeck>
        <Card>
            <Button Type="ButtonType.Link" To="/test/Abp/UiNotificationAlertTest">UiNotificationAlertTest</Button>
        </Card>
    </CardDeck>

</Container>
